@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  @apply pt-8 pb-6
}

nav ul li {
  @apply inline-block pl-8
}

nav ul li a {
  @apply block border-b-2 border-b-transparent hover:text-slate-900 hover:border-b-slate-900 px-2 pb-1
}

aside[role=navigation] {
  @apply bg-slate-100 rounded-md border-solid border-slate-900 h-screen sticky top-0 p-4
}

aside[role=navigation] h3 {
  @apply uppercase text-sm font-bold mb-2
}

aside[role=navigation] ul li {
  @apply mx-4 whitespace-nowrap hover:border-b-2 hover:mb-1 hover:border-spacing-1 hover:border-b-slate-900
}

main {
  @apply p-4
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */